.LaneOverview {
    .LaneOverview-log, .LaneOverview-lanes {
        float: left;
        width: 45%;
        margin: 0 2.5%;

        p {
            margin-bottom: 2em;
        }
    }

    i {
        width: 5%;
    }

    input[type="text"] {
        width: 95%;
        border: 0;
        border-bottom: 1px solid white;
        padding: 0.5em;
        margin-bottom: 1em;
        font-size: 1em;

        &:focus {
            outline: none;
            border-bottom-color: $c-brand-comp-light;
        }
    }
}
