.OverlayStack {
    * {
        color: white;
    }

    .OverlayStack-overlay {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        z-index: 100;
        background-color: rgba(0,0,0,0.85);
        transform: none;
        opacity: 1;
        padding: 10%;
        overflow-y: scroll;

        &:after {
            content: "";
            display: block;
            clear: both;
        }

        &.OverlayStack-enter {
            animation: OverlayStack-overlay-enterAnimation 0.5s;
        }

        &.OverlayStack-leave {
            animation: OverlayStack-overlay-leaveAnimation 0.6s;
        }
    }

    .OverlayStack-closeButton {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 101;

        &.OverlayStack-enter {
            animation: OverlayStack-closeButton-enterAnimation 0.5s;
        }

        &.OverlayStack-leave {
            animation: OverlayStack-closeButton-leaveAnimation 0.6s;
        }
    }
}

@keyframes OverlayStack-overlay-enterAnimation {
    from {
        transform: scale(1.1, 1.1);
        opacity: 0;
    }
}

@keyframes OverlayStack-overlay-leaveAnimation {
    to {
        transform: scale(1.1, 1.1);
        opacity: 0;
    }
}

@keyframes OverlayStack-closeButton-enterAnimation {
    0%      { opacity: 0; }
    50%     { opacity: 0; }
    100%    { opacity: 1; }
}

@keyframes OverlayStack-closeButton-leaveAnimation {
    0%      { opacity: 1; }
    20%     { opacity: 0; }
    100%    { opacity: 0; }
}
