.TagList {
   padding: 0;
   margin: 0 0 1em;
   list-style: none;

    & > span {
        font-style: italic;
        color: $c-ui-dark;
    }

    .TagList-tag {
        @include inline-button();
        display: inline-block;
        margin: 0.5em;
        padding: 0.4em 1em;
        font-size: 0.667em;
        line-height: 1.4;
    }
}