.CallLane {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .CallLane-panes {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 100px;
        right: 0;
        overflow: hidden;
    }

    &.CallLane-instructionsInfoMode {
        .InstructionsPane {
            z-index: 2;
        }

        .PaneBase-header {
            .InstructionsPane-targetButton {
                background: darken(white, 10);
                @include button-color(darken(white, 10), 5);
            }
        }

        .TargetPane {
            z-index: 1;
        }
    }

    &.CallLane-targetInfoMode {
        .InstructionsPane {
            z-index: 1;
        }

        .PaneBase-header {
            .TargetPane-instructionsButton {
                background: darken(white, 10);
                @include button-color(darken(white, 10), 5);
            }
        }

        .TargetPane {
            z-index: 2;
        }
    }

    &.CallPage-enter {
        animation: CallLane-enterAnimation 0.5s;
    }

    &.CallPage-leave {
        animation: CallLane-leaveAnimation 0.5s;
    }

    &.CallLane-emptyStep {
        .AssignmentPane.PaneBase-leave {
            animation: AssignmentPane-leaveForEmptyAnimation $pane-transition-duration;
        }
    }
}

@keyframes AssignmentPane-leaveForEmptyAnimation {
    to {
        left: -100%;
    }
}

@keyframes CallLane-enterAnimation {
    from {
        transform: translate(0, 100%);
    }
}

@keyframes CallLane-leaveAnimation {
    to {
        transform: translate(0, 100%);
    }
}
