.CallLane {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .CallLane-panes {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 100px;
        right: 0;
        overflow: hidden;
    }

    &.CallLane-instructionsInfoMode {
        .InstructionsPane {
            z-index: 2;
        }

        .PaneBase-header {
            .InstructionsPane-targetButton {
                background: darken(white, 10);
                @include button-color(darken(white, 10), 5);
            }
        }

        .TargetPane {
            z-index: 1;
        }
    }

    &.CallLane-targetInfoMode {
        .InstructionsPane {
            z-index: 1;
        }

        .PaneBase-header {
            .TargetPane-instructionsButton {
                background: darken(white, 10);
                @include button-color(darken(white, 10), 5);
            }
        }

        .TargetPane {
            z-index: 2;
        }
    }
}
