.LaneControlBar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    padding: 1em;
    box-shadow: 0 2px 2px darken(#FFF, 10);
    overflow: hidden;
    z-index: 99;

    .LaneControlBar-content {
        @include col(6,12);
        @include col-offset(3,12);

        text-align: center;
        transition: top 0.4s, left 0.4s;

        h1 {
            margin: 0;
        }
    }

    .LaneControlBar-proceedSection {
        @include col(3,12)
        text-align: right;

        button {
            @include button();
        }
    }

    &.LaneControlBar-callStep {
        .LaneControlBar-content {
            left: 0;
        }
    }

    &.LaneControlBar-reportStep {
        .LaneControlBar-content {
            left: 0;
        }
    }
}
