.LaneOverview {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,0.8);
    transform: none;
    opacity: 1;
    padding: 10%;
    overflow-y: scroll;

    &:after {
        content: "";
        display: block;
        clear: both;
    }

    .LaneOverview-log, .LaneOverview-lanes {
        float: left;
        width: 36%;
        margin: 2%;
    }

    &.CallPage-enter {
        animation: LaneOverview-enterAnimation 0.5s;
    }

    &.CallPage-leave {
        animation: LaneOverview-leaveAnimation 0.6s;
    }
}

@keyframes LaneOverview-enterAnimation {
    from {
        transform: scale(1.1, 1.1);
        opacity: 0;
    }
}

@keyframes LaneOverview-leaveAnimation {
    to {
        transform: scale(1.1, 1.1);
        opacity: 0;
    }
}
