.LaneSwitch {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;

    .LaneSwitch-openLogButton {
        padding: 10px;
        background-color: red;
        border-radius: 50%;
    }

    .LaneSwitch-closeLogButton {
        padding: 10px;
        background-color: green;
        border-radius: 50%;
    }
}
