.TargetInfo {
    text-align: left;
    line-height: 1.5em;

    &:after {
        content: "";
        display: block;
        clear: both;
    }

    & > * {
        display: inline-block;
        vertical-align: middle;
        margin-left: 0.5em;
    }

    .TargetInfo-name, .TargetInfo-number {
        font-size: 1.3em;
        line-height: 1.5em;
    }

    .TargetInfo-name {
        margin: 0;
        transition: font-size 0.3s;
    }

    .TargetInfo-number {
        &:before {
            @include icon($fa-var-phone);
        }

        &.TargetInfo-appear {
            animation: TargetInfo-number-appearAnimation 1.5s;
        }
    }

    .TargetInfo-lastCall {
        font-size: 0.8em;

        &:before {
            content: "- ";
        }

        &.TargetInfo-appear {
            animation: TargetInfo-lastCall-appearAnimation 1.5s;
        }
    }

    &.TargetInfo-showFull {
        .Avatar {
            margin-right: 0.5em;
            height: 2em;
            width: 2em;
            float: left;
        }
    }

    .TagList {
        display: block;
        clear: left;
        padding: 0;
        margin: 0.2em 0 0 0;
        line-height: normal;

        &:after {
            content: "";
            display: block;
            clear: both;
        }

        li {
            float: left;
            margin: 5px;
            padding: 2px 5px;
            list-style-type: none;
            font-size: 0.7em;
        }

        .TargetInfo-tag {
            @include inline-button();
        }

        .TargetInfo-moreTags {
            @include inline-button(darken(white, 10));
        }

        &.TargetInfo-appear {
            animation: TargetInfo-tagList-enterAnimation 1.5s;
        }
    }
}


@keyframes TargetInfo-number-appearAnimation {
    0%      { opacity: 0; transform: translate(50px, 0); }
    25%     { opacity: 0; transform: translate(50px, 0); }
    50%     { opacity: 1; transform: none; }
}

@keyframes TargetInfo-lastCall-appearAnimation {
    0%      { opacity: 0; transform: translate(50px, 0); }
    50%     { opacity: 0; transform: translate(50px, 0); }
    75%     { opacity: 1; transform: none; }
}

@keyframes TargetInfo-tagList-enterAnimation {
    0%      { opacity: 0; transform: translate(0, 50px); }
    75%     { opacity: 0; transform: translate(0, 50px); }
    100%    { opacity: 1; transform: none }
}
