.InfoPane {
    background-color: green;

    &.InfoPane-assignmentStep {
        width: 30%;
        left: 70%;
    }

    &.InfoPane-prepareStep {
        width: 60%;
        left: 0;
    }

    &.InfoPane-callStep {
        width: 30%;
        left: 0;
    }

    &.InfoPane-reportStep {
        width: 30%;
        left: 0;
    }
}
