.Header {
    position: relative;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    background-color: white;
    box-shadow: 0 2px 1px rgba(0,0,0,0.1);
    
    @include medium-screen {
        height: 100px;
        padding: 16px;
    }
    @include large-screen{
        padding: 16px 32px;
    }

    .Logo {
        flex: 2;
    }

    .Header-currentApp {
        @include icon-button($fa-var-phone, $collapse:false);
        font-size: 1.3em;
        padding-right: 0;
        position: absolute;
        left: 0;
        top: 80px;
        width: 100%;
        text-align: center;

        @include small-screen {
            position: relative;
            left: initial;
            top: initial;
            width: initial;
        }
        
        &:hover {
            background: none;
        }
    }
    
    .Header-nav {
        flex: 4;

        @include small-screen {
            flex: 2;
        }

        .Header-navLink {
            float: right;
            margin: 0.5em;
            @include icon-button($fa-var-home);
        }
    }
}