.CallLogItem {
    position: relative;
    padding: 1em 1em 1em 3em;
    border-bottom: 1px solid #eee;

    &:hover {
        background: darken(white,1);
    }


    &:before {
        position: absolute;
        left: 0.5em;
    }
}


.CallLogItem-timeStamp {
    font-size: 0.8em;
    color: lighten($c-text, 30);
}

.CallLogItem-summary {
    margin-top: 0.5em;
    font-size: 0.9em;
}

.CallLogItem-caller {
    font-size: 0.7em;
    position: absolute;
    right: 1em;
    top: 1.5em;
    color: lighten($c-text, 30);
}
