.AssignmentPane {
    width: 65%;
    left: 0;

    &.PaneBase-leave {
        animation: AssignmentPane-leaveAnimation 0.5s;
    }
}

@keyframes AssignmentPane-leaveAnimation {
    to {
        left: -65%;
    }
}
