.AssignmentPane {
    @include small-screen {
        width: 65%;
        left: 0;
    }

    &.PaneBase-leave {
        animation: AssignmentPane-leaveForPrepareAnimation $pane-transition-duration;
    }

    .PaneBase-content {
        text-align: center;
        margin-top: 2em;
        padding-bottom: 0;

        h1 {
            font-size: 2.2em;
        }
    }

    &.AssignmentPane-assignmentStep {
        display: block;
    }
}

@keyframes AssignmentPane-leaveForPrepareAnimation {
    to {
        left: -65%;
    }
}
