.InfoPane {
    z-index: 1;

    &.InfoPane-assignmentStep {
        width: 35%;
        left: 65%;
    }

    &.InfoPane-prepareStep {
        width: 70%;
        left: 0%;
    }

    &.InfoPane-callStep {
        width: 35%;
        left: 0;
    }

    &.InfoPane-reportStep {
        width: 35%;
        left: 0;
    }
}
