.InputPane {
    z-index: 2;

    &.InputPane-prepareStep {
        width: 65%;
        left: 70%;

        .InputPane-summaryList {
            .Button {
                display: none;
            }
        }
    }

    &.InputPane-callStep {
        width: 65%;
        left: 35%;

        .InputPane-summaryList {
            max-width: 40%;
        }
    }

    &.InputPane-reportStep {
        width: 30%;
        left: 35%;

        .InputPane-summaryList {
            .Button {
                display: none;
            }
        }
    }

    .InputPane-nav {
        float: right;

        .InputPane-summaryLink {
            display: block;
        }
    }

    .InputPane-summaryList {
        li {
            position: relative;

            .Button {
                position: absolute;
                top: 0;
                right: -40%;
                width: 40%;
            }
        }
    }

    &.PaneBase-enter {
        animation: InputPane-enterAnimation 0.5s;
    }

    &.InputPane-firstCall.PaneBase-enter {
        animation: InputPane-firstCall-enterAnimation 0.5s;
    }
}

@keyframes InputPane-enterAnimation {
    from {
        left: 170%;
    }
}

@keyframes InputPane-firstCall-enterAnimation {
    from {
        left: 135%;
    }
}
