.InputPane {
    z-index: 2;

    .PaneBase-header {
        p {
            text-align: center;
            color: darken(white, 30);
        }
    }

    .PaneBase-content {
        font-size: 0.9em;
    }

    h2 {
        margin-bottom: 0.5em;
    }

    .InputPane-campaignInfo {
        max-width: 700px;
        margin: 0 auto 2em;
    }

    .InputPane-summaryList {
        list-style: none;
        margin: 0 0 2em 0;
        padding: 0;

        @include list();

        h3, p {
            margin: 0;
        }
    }

    .InputPane-campaigns {
        .InputPane-summaryList li {
            &:before {
                @include icon($fa-var-flag);
            }
        }
    }

    .InputPane-surveys {
        .InputPane-summaryList li {
            &:before {
                @include icon($fa-var-list);
            }
        }
    }

    &.InputPane-prepareStep {
        width: 65%;
        left: 70%;
        box-shadow: none;

        .PaneBase-header {
            p {
                width: 46%;
            }
        }

        .InputPane-summaryList {
            li:hover {
                // Override hover from list() mixin
                background-color: white;
            }

            .Button {
                display: none;
            }
        }
    }

    &.InputPane-callStep {
        width: 65%;
        left: 35%;

        li {
            cursor: pointer;

            .InputPane-campaignListLink {
                color: lighten($c-text, 20);

                &:after {
                    @include icon($fa-var-chevron-right);
                    font-size: 2em;
                    vertical-align: middle;
                }
            }

            &:hover {
                a {
                    color: $c-text;

                    &:after {
                        color: $c-brand-main;
                    }
                }
            }
        }
    }

    &.InputPane-reportStep {
        width: 30%;
        left: 35%;

        .InputPane-summaryList {
            .Button {
                display: none;
            }
        }
    }

    .InputPane-nav {
        .InputPane-summaryLink {
            @include col(4,12);
            display: inline-block;
            line-height: 4em;
            cursor: pointer;

            &:before {
                @include icon($fa-var-arrow-left);
            }

            &:hover {
                color: darken($c-brand-main, 20);
            }
        }

        p {
            @include col(4,12);
        }

        select {
            @include col(2,12);
            float: right;
            margin: 2em;
        }
    }

    .InputPane-summaryList {
        li {
            position: relative;

            a {
                position: absolute;
                top: 1em;
                right: 0;
            }

            .InputPane-campaignListInfo {
                font-size: 0.9em;
                color: lighten($c-text, 30);
                margin: 0.2em 0;

                span:last-child {
                    margin-left: 1em;
                }
            }

            .InputPane-campaignListStatus {
                font-style: italic;
                font-size: 0.9em;

                span {
                    margin-right: 0.2em;

                    &:nth-child(2) {
                        &:before {
                            @include icon($fa-var-circle);
                            color: lighten($c-text, 30);
                        }
                    }
                    &:nth-child(3) {
                        &:before {
                            @include icon($fa-var-dot-circle-o);
                            color: lighten($c-text, 20);
                        }
                    }

                    &:before {
                        font-size: 0.9em!important;
                    }
                }
            }
        }
    }

    .CampaignForm {
        background-color: white;

        .CampaignForm-calendar {
            @include large-screen {
                @include col(5,12);
                margin-top: 0;
                padding-left: 0;
                float: right;
                position: relative;
            }
        }

        .CampaignForm-filter {
            @include large-screen {
                margin-left: 15%;
                @include col(5,12);
            }
        }

        .CampaignForm-form {
            @include large-screen {
                @include col(7,12);
                margin-left: 0;
                float:left;
            }
        }
    }

    &.PaneBase-enter {
        animation: InputPane-enterAnimation 0.5s;
    }

    &.InputPane-firstCall.PaneBase-enter {
        animation: InputPane-firstCall-enterAnimation 0.5s;
    }
}

@keyframes InputPane-enterAnimation {
    from {
        left: 170%;
    }
}

@keyframes InputPane-firstCall-enterAnimation {
    from {
        left: 135%;
    }
}
