.InputPane {
    z-index: 2;

    .PaneBase-content {
        font-size: 0.9em;
    }

    h2 {
        margin-bottom: 0.5em;
    }

    .InputPane-summaryList {
        list-style: none;
        margin: 0 0 2em 0;
        padding: 0;

        @include list();


        h3, p {
            margin: 0;
        }
    }

    .InputPane-campaigns {
        .InputPane-summaryList li {
            &:before {
                @include icon($fa-var-flag);
            }
        }
    }

    .InputPane-surveys {
        .InputPane-summaryList li {
            &:before {
                @include icon($fa-var-list);
            }
        }
    }

    &.InputPane-prepareStep {
        box-shadow: none;

        @include small-screen {
            width: 30%;
            left: 70%;
        }

        .InputPane-summaryList {
            li:hover {
                // Override hover from list() mixin
                background-color: white;
            }

            .InputPane-listLink {
                visibility: hidden;
                opacity: 0;
            }
        }
    }

    &.InputPane-callStep {
        @include small-screen {
            width: 65%;
            left: 35%;
        }

        li {
            cursor: pointer;

            .InputPane-listLink {
                color: $c-brand-main;
                visibility: visible;
                opacity: 1;
                transition: opacity 1s;

                @include small-screen {
                    color: lighten($c-text, 20);
                    position: absolute;
                    top: calc(50% - 23px);
                    right: 0;
                }

                &:after {
                    @include icon($fa-var-chevron-right);
                    font-size: 2em;
                    vertical-align: middle;
                }
            }

            &:hover {
                @include small-screen {
                    a {
                        color: $c-text;
    
                        &:after {
                            color: $c-brand-main;
                        }
                    }
                }
            }
        }
    }

    &.InputPane-reportStep {
        @include small-screen {
            width: 30%;
            left: 35%;
        }

        .InputPane-summaryList {
            li:hover {
                // Override hover from list() mixin
                background-color: white;
            }

            .InputPane-listLink {
                visibility: hidden;
                opacity: 0;
            }
        }
    }

    .InputPane-nav {
        .InputPane-summaryLink {
            display: inline-block;
            line-height: 4em;
            cursor: pointer;

            @include small-screen {
                @include col(4,12);
            }

            &:before {
                @include icon($fa-var-arrow-left);
            }

            &:hover {
                color: darken($c-brand-main, 20);
            }
        }

        p {
            display: none;
            @include small-screen {
                @include col(4,12);
            }
        }

        .InputPane-campaignSelect {
            display: none;

            @include small-screen {
                @include col(2,12);
                float: right;
                margin: 2em;
            }
        }
    }

    .InputPane-summaryList {
        li {
            position: relative;

            .InputPane-campaignListInfo {
                font-size: 0.9em;
                color: lighten($c-text, 30);
                margin: 0.2em 0;

                span:last-child {
                    margin-left: 1em;
                }
            }

            .InputPane-campaignListStatus {
                font-style: italic;
                font-size: 0.9em;

                span {
                    margin-right: 0.2em;

                    &:nth-child(2) {
                        &:before {
                            @include icon($fa-var-circle);
                            color: lighten($c-text, 30);
                        }
                    }
                    &:nth-child(3) {
                        &:before {
                            @include icon($fa-var-dot-circle-o);
                            color: lighten($c-text, 20);
                        }
                    }

                    &:before {
                        font-size: 0.9em!important;
                    }
                }
            }
        }
    }

    .CampaignForm {
        background-color: white;

        .CampaignForm-calendar {
            @include large-screen {
                @include col(5,12);
                margin-top: 0;
                padding-left: 0;
                float: right;
                position: relative;
            }
        }

        .CampaignForm-filter {
            @include large-screen {
                margin: 0 0 2em 0;
                @include col(7,12);
            }
        }

        .CampaignForm-form {
            @include large-screen {
                @include col(7,12);
                margin-left: 1em;
                float:left;
            }
        }

        .CampaignForm-day {
            .CampaignForm-date {
                margin-left: 0;

                span {
                    display: inline;
                    margin-right: 1em;
                }
            }
        }
    }

    .SurveyForm {
        background-color: inherit;

        form {
            margin: 0;
        }
    }

    &.PaneBase-enter {
        animation: InputPane-enterAnimation $pane-transition-duration;
    }

    &.InputPane-firstCall.PaneBase-enter {
        animation: InputPane-firstCall-enterAnimation $pane-transition-duration;
    }
}

@keyframes InputPane-enterAnimation {
    from {
        left: 170%;
    }
}

@keyframes InputPane-firstCall-enterAnimation {
    from {
        left: 135%;
    }
}
