.InstructionsPane {
    z-index: 1;

    &.InstructionsPane-assignmentStep {
        width: 35%;
        left: 65%;
    }

    &.InstructionsPane-prepareStep {
        width: 70%;
        left: 0%;
    }

    &.InstructionsPane-callStep {
        width: 35%;
        left: 0;
    }

    &.InstructionsPane-reportStep {
        width: 35%;
        left: 0;
    }
}
