.InstructionsPane {
    z-index: 1;
    background-color: white;

    @include PaneWithTabs('InstructionsPane');

    &.InstructionsPane-assignmentStep {
        width: 35%;
        left: 65%;
    }

    &.InstructionsPane-prepareStep {
        width: 35%;
        left: 0%;
    }

    &.InstructionsPane-callStep {
        width: 35%;
        left: 0;
    }

    &.InstructionsPane-reportStep {
        width: 35%;
        left: 0;
    }

    .PaneBase-header {
        .InstructionsPane-targetButton {
            left: 0;
        }
    }
}
