.PaneBase {
    position: absolute;
    top: 0;
    bottom: 0;
    box-sizing: border-box;

    transition: width 0.5s, left 0.5s;
    padding: 6% 2% 2%;

}

.PaneBase-enter {
    animation: PaneBase-enterAnimation 0.5s;
}

.PaneBase-leave {
    animation: PaneBase-leaveAnimation 0.5s;
}

@keyframes PaneBase-enterAnimation {
    from {
        left: 100%;
    }
}

@keyframes PaneBase-leaveAnimation {
    to {
        left: -30%;
    }
}
