.PaneBase {
    display: none;
    background: none;
    box-sizing: border-box;
    box-shadow: 0 2px 2px darken(#FFF, 10);
    transition: width $pane-transition-duration, left $pane-transition-duration;
    flex-direction: column;

    @include small-screen {
        display: flex;
        position: absolute;
        overflow: visible;
        top: 0;
        bottom: 0;
    }

    h1 {
        font-size: 1.7em;
        margin-top: 0.5em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
        margin-bottom: 0;
    }

    .PaneBase-header {
        width: 100%;
        position: relative;
        min-height: 3.5em;

        p {
            text-align: center;
            color: darken(white, 50);
            padding: 1em 0;
            margin: 0;
            line-height: 1.5;
        }

        button {
            position: absolute;
            top: 0;
            width: 50%;
            height: 100%;
            border: none;
            background: white;
            font-family: inherit;
            font-size: 1em;

            &:focus {
                outline: none;
            }

            &.InstructionsPane-targetButton {
                &:before {
                    @include icon($fa-var-user);
                }
            }

            &.TargetPane-instructionsButton {
                &:before {
                    @include icon($fa-var-file-text);
                }
            }
        }
    }

    .PaneBase-content {
        background: white;
        flex: 1;
        padding: 1em 1em 4em;
        overflow-y: auto;
        overflow-x: hidden;
        
        @include small-screen {
            padding-bottom: 2em;
        }

        @include scrollbar(white);

        &:hover {
            @include scrollbar(darken(white, 5));
        }

        h1 {
            &:first-child {
                margin-top: 0;
            }
        }
        &:last-child::after {
            content: "";
            height: 4em;
            width: 100%;
            display: block;
        }
    }
}

.PaneBase-prepareStep .PaneBase-header,
.TargetPane-callStep .PaneBase-header,
.InstructionsPane-callStep .PaneBase-header,
.TargetPane-reportStep .PaneBase-header,
.InstructionsPane-reportStep .PaneBase-header,
.InputPane-reportStep .PaneBase-header,
.ReportPane-reportStep .PaneBase-header {
    display: none;

    @include small-screen {
        display: block;
    }
}

.PaneBase-enter {
    animation: PaneBase-enterAnimation $pane-transition-duration;
}

.PaneBase-leave {
    animation: PaneBase-leaveAnimation $pane-transition-duration;
}

@keyframes PaneBase-enterAnimation {
    from {
        left: 100%;
    }
}

@keyframes PaneBase-leaveAnimation {
    to {
        left: -35%;
    }
}
