.PaneBase {
    position: absolute;
    overflow: visible;
    top: 0;
    bottom: 0;
    padding: 0 0 0em 1em;
    background: none;
    box-sizing: border-box;
    box-shadow: 0 2px 2px darken(#FFF, 10);

    transition: width 0.5s, left 0.5s;

    h1 {
        font-size: 1.7em;
        margin-top: 0.5em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
        margin-bottom: 0;
    }

    .PaneBase-header {
        position: absolute;
        width: 100%;
        height: 4em;
        top: 0;
        left: 0;

        p {
            text-align: center;
            color: darken(white, 30);
        }

        button {
            position: absolute;
            width: 50%;
            height: 100%;
            border: none;
            background: white;
            font-family: inherit;
            font-size: 1em;

            &:focus {
                outline: none;
            }

            &.InstructionsPane-targetButton {
                &:before {
                    @include icon($fa-var-user);
                }
            }

            &.TargetPane-instructionsButton {
                &:before {
                    @include icon($fa-var-file-text);
                }
            }
        }
    }

    .PaneBase-content {
        background: white;
        height: calc(100% - 4em);
        margin-top: 4em;
        padding-right: 3%;
        padding-top: 1em;
        overflow-y: scroll;
        overflow-x: hidden;

        @include scrollbar(white);

        &:hover {
            @include scrollbar(darken(white, 5));
        }

        h1 {
            &:first-child {
                margin-top: 0;
            }
        }
    }
}

.PaneBase-enter {
    animation: PaneBase-enterAnimation 0.5s;
}

.PaneBase-leave {
    animation: PaneBase-leaveAnimation 0.5s;
}

@keyframes PaneBase-enterAnimation {
    from {
        left: 100%;
    }
}

@keyframes PaneBase-leaveAnimation {
    to {
        left: -35%;
    }
}
