.ReportPane {
    transition: left $pane-transition-duration;

    .PaneBase-header {
        p {
            text-align: left;
        }
    }

    .ReportPane-nav {
        p {
            text-align: center;
        }
    }

    &.ReportPane-reportStep {
        @include small-screen {
            width: 35%;
            left: 65%;
        }

        .ReportPane-backLink {
            @include small-screen {
                @include col(4,12);
                visibility: visible;
                @include col(4,12);
                display: inline-block;
                line-height: 4.5em;
                cursor: pointer;
                font-size: 0.7778em;

                &:before {
                    @include icon($fa-var-arrow-left);
                }

                &:hover {
                    color: darken($c-brand-main, 20);
                }
            }

            @include large-screen {
                visibility: visible;
            }
        }

        .ReportPane-nav {
            p {
                text-align: left;
                @include col(8,12);
            }
        }
    }

    &.ReportPane-doneStep {
        @include small-screen {
            width: 35%;
            left: 0;
        }
    }

    &.ReportPane-callStep {
        @include small-screen {
            width: 35%;
            left: 100%;
        }
    }

    &.PaneBase-leave {
        animation: ReportPane-leaveAnimation $pane-transition-duration;
    }
}

@keyframes ReportPane-leaveAnimation {
    to {
        left: -100%;
    }
}
