.ReportPane {
    transition: left $pane-transition-duration;

    .PaneBase-header {
        p {
            color: darken(white, 30);
            text-align: left;
        }
    }

    .ReportPane-nav {
        p {
            text-align: center;
        }
    }

    &.ReportPane-reportStep {
        width: 35%;
        left: 65%;

        .ReportPane-backLink {
            @include col(4,12);
            display: inline-block;
            line-height: 4em;
            cursor: pointer;

            &:before {
                @include icon($fa-var-arrow-left);
            }

            &:hover {
                color: darken($c-brand-main, 20);
            }
        }

        .ReportPane-nav {
            p {
                text-align: left;
                @include col(8,12);
            }
        }
    }

    &.ReportPane-doneStep {
        width: 35%;
        left: 0;
    }

    &.ReportPane-callStep {
        width: 35%;
        left: 100%;
    }

    &.PaneBase-leave {
        animation: ReportPane-leaveAnimation $pane-transition-duration;
    }
}

@keyframes ReportPane-leaveAnimation {
    to {
        left: -100%;
    }
}
