.ReportPane {
    background-color: #ff0;

    &.ReportPane-reportStep {
        width: 35%;
        left: 65%;
    }

    &.ReportPane-doneStep {
        width: 35%;
        left: 0;
    }

    &.PaneBase-leave {
        animation: ReportPane-leaveAnimation 0.5s;
    }
}

@keyframes ReportPane-leaveAnimation {
    to {
        left: -100%;
    }
}
