.StatsPane {
    z-index: 0;

    h1, p  {
        text-align: center;
    }

    &.StatsPane-doneStep {
        @include small-screen {
            width: 65%;
            left: 35%;
        }
    }

    &.PaneBase-leave {
        animation: StatsPane-leaveAnimation $pane-transition-duration;
    }

    .PaneBase-content {
        margin-top: 1em;
    }

    .StatsPane-artwork {
        display: block;
        margin: 0 auto 1em;
        max-width: 360px;
        max-height: 35vh;
    }
}

@keyframes StatsPane-leaveAnimation {
    to {
        left: -65%;
    }
}
