.StatsPane {
    z-index: 0;

    &.StatsPane-doneStep {
        width: 65%;
        left: 35%;
    }

    &.PaneBase-leave {
        animation: StatsPane-leaveAnimation 0.5s;
    }
}

@keyframes StatsPane-leaveAnimation {
    to {
        left: -65%;
    }
}
