.TargetPane {
    z-index: 2;
    padding-top: 1em;

    .TargetPane-basics {
        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }

    .Avatar {
        float: left;
        padding-left: 0;
        height: 8em;
        width: 8em;
    }

    .TargetPane-name {
        @include col(8,12);
        float: right;
        margin-bottom: 0.5em;
        font-size: 1.3em;
    }

    .TargetPane-info {
        @include col(8,12);
        list-style: none;
        float: right;

        li {
            margin-bottom: 0.5em;
            font-size: 0.8em;
        }
    }

    .TargetPane-infoJoin {
        &:before {
            @include icon($fa-var-sign-in);
        }
    }

    .TargetPane-infoEmail {
        &:before {
            @include icon($fa-var-envelope);
        }
    }

    .TargetPane-map {
        max-width: 100%;
        margin-top: 1em;
    }

    h4 {
        margin-bottom: 0.5em;
    }

    .TargetPane-tagHeader {
        margin-top: 1em;

        &:before {
            @include icon($fa-var-tag);
        }
    }

    .TargetPane-activityHeader {
        &:before {
            @include icon($fa-var-flag);
        }
    }

    .TargetPane-callLogHeader {
        &:before {
            @include icon($fa-var-clock-o);
        }
    }


    &.TargetPane-prepareStep {
        width: 35%;
        left: 35%;
    }

    &.TargetPane-callStep {
        width: 35%;
        left: 0;
    }

    &.TargetPane-reportStep {
        width: 35%;
        left: 0;
    }

    .PaneBase-header {
        .TargetPane-instructionsButton {
            left: 0;
        }
    }

    &.PaneBase-enter {
        // Use custom animation in general, but...
        animation: TargetPane-enterAnimation 0.5s;
    }

    &.TargetPane-firstCall.PaneBase-enter {
        // ...use standard animation for first call
        animation: PaneBase-enterAnimation 0.5s;
    }

    &.PaneBase-leave {
        animation: TargetPane-leaveAnimation 0.5s;
    }
}

@keyframes TargetPane-enterAnimation {
    from {
        left: 135%;
    }
}

@keyframes TargetPane-leaveAnimation {
    to {
        left: -65%;
    }
}
