.TargetPane {
    z-index: 2;

    .TargetPane-basics {
        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }

    .Avatar {
        float: left;
        padding-left: 0;
        height: 0;
        background-size: contain;
        padding-top: 33%;
        @include col(4,12);
    }

    .TargetPane-name {
        @include col(12,12);
        float: right;
        margin-bottom: 0.5em;
        font-size: 1.3em;
    }

    .TargetPane-info {
        @include col(12,12);
        list-style: none;
        float: right;

        li {
            margin-bottom: 0.5em;
            font-size: 0.8em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    .TargetPane-infoId {
        &:before {
            @include icon($fa-var-file);
        }
    }

    .TargetPane-infoJoin {
        &:before {
            @include icon($fa-var-sign-in);
        }
    }

    .TargetPane-infoEmail {
        &:before {
            @include icon($fa-var-envelope);
        }
    }

    .TargetPane-map {
        max-width: 100%;
        margin-top: 1em;
    }

    h4 {
        margin-bottom: 0.5em;
    }

    .TargetPane-tags {
        margin-top: 1em;

        h4 {
            &:before {
                @include icon($fa-var-tag);
            }
        }
    }

    .TargetPane-activity {
        h4 {
            &:before {
                @include icon($fa-var-flag);
            }
        }

        &.empty p {
            font-style: italic;
            color: $c-ui-dark;
        }
    }

    .TargetPane-callLog {
        h4 {
            &:before {
                @include icon($fa-var-clock-o);
            }
        }
    }

    .PaneBase-header {
        .TargetPane-instructionsButton {
            display: none;

            @include small-screen {
                display: block;
                left: 0;
            }
        }
    }

    &.PaneBase-enter {
        // Use custom animation in general, but...
        animation: TargetPane-enterAnimation $pane-transition-duration;
    }

    &.TargetPane-firstCall.PaneBase-enter {
        // ...use standard animation for first call
        animation: PaneBase-enterAnimation $pane-transition-duration;
    }

    &.PaneBase-leave {
        animation: TargetPane-leaveAnimation $pane-transition-duration;
    }

    @include small-screen {
        &.TargetPane-prepareStep {
            width: 35%;
            left: 35%;
        }

        &.TargetPane-callStep {
            width: 35%;
            left: 0;
        }

        &.TargetPane-reportStep {
            width: 35%;
            left: 0;
        }
    }
}


@include large-screen {
    .TargetPane {
        .Avatar {
            @include col(4,12);
        }
        .TargetPane-name, .TargetPane-info {
            @include col(8,12);
        }
    }
}


@keyframes TargetPane-enterAnimation {
    from {
        left: 135%;
    }
}

@keyframes TargetPane-leaveAnimation {
    to {
        left: -65%;
    }
}
