.AssignmentList {
    margin-top: 2em;
    text-align: left;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    li {
        position: relative;
        padding: 1em 0.5em;
        border-bottom: 1px solid darken(#FFF, 5);

        &:hover {
            background: darken(#FFF, 2);
        }
    }

    h3 {
        margin: 0;
    }

    p {
        width: 100%;
        display: inline-block;
    }

    .AssignmentListItem-selectButton {
        @include button();
        width: 100%;
    }
}

@include medium-screen {
    .AssignmentList {
        .AssignmentListItem-selectButton {
            width: auto;
        }
    }
}

@include large-screen {
    .AssignmentList {
        p {
            width: 60%;
        }

        .AssignmentListItem-selectButton {
            display: inline-block;
            position: absolute;
            top: calc(50% - 1.5em);
            right: 1em;
        }
    }
}
