.CallOpListItem {
    position: relative;
    padding: 10px 0 0 50px;

    .Avatar {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        width: 40px;
        height: 40px;
    }

    .CallOpListItem-time {
        color: rgba(255, 255, 255, 0.4);
        padding-left: 1em;
        font-size: 80%;
    }

    .CallOpListItem-ops {
        margin: 0.5em 0;
    }

    .Button {
        @include button($color: white, $border: 1px);
        margin: 0 0.5em 0 0;
        font-size: 0.8em;
        background-color: transparent;
        transition: background-color 0.2s;

        &:hover {
            color: $c-text;
            border-color: transparent;
        }
    }
}
