.CallOpListItem {
    position: relative;
    padding: 10px 0 0 50px;

    .Avatar {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        width: 40px;
        height: 40px;
    }

    .CallOpListItem-time {
        color: rgba(255, 255, 255, 0.4);
        padding-left: 1em;
        font-size: 80%;
        float: right;
    }

    .CallOpListItem-ops {
        margin: 0.5em 0;
    }

    .Button {
        @include overlay-button();
        display: block;
        width: 100%;
        margin: 1em 0;
        
        @include small-screen {
            margin: 0 0.25em;
            display: inline-block;
            width: auto;
        }
    }
}
