.CallOpList {
    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style-type: none;
        padding: 0.5em;
        background: rgba(255,255,255,0);
        transition: background 1s;

        &:hover {
            background: rgba(255,255,255,0.05);
            transition: background 0.2s;
        }

        &.CallOpList-item-leave {
            opacity: 1;
            animation: CallOpList-item-leaveAnimation 0.31s;
        }
    }
}

@keyframes CallOpList-item-leaveAnimation {
    to {
        opacity: 0;
    }
}
