.LaneSwitch {
    position: absolute;
    bottom: 125px;
    left: 20px;
    z-index: 200;

    .LaneSwitch-openLogButton {
        float: left;
        @include circle-button($color: $c-brand-main, $icon: $fa-var-list-ul);
    }

    .LaneSwitch-callList {
        margin: 0;
        padding: 0;
        float: left;
        list-style: none;
    }
}
