.TutorialNote {
    position: absolute;
    background-color: $c-brand-comp-light;
    max-width: 30%;
    padding: 1em;
    border-radius: 0.5em;
    min-width: 300px;

    animation: TutorialNote-appearAnimation 0.2s 0.2s;
    animation-fill-mode: backwards;

    &:after {
        content: "";
        display: block;
        clear: both;
    }

    h2 {
        color: white;
        margin: 0;
        font-size: 1.2em;
    }

    p {
        color: white;
        margin: 0.5em 0 1em;
        font-size: 0.9em;
    }

    .TutorialNote-closeButton, .TutorialNote-manualLink {
        display: block;
        background: transparent;
        padding: 0.5em 1em;
        margin: 0.5em 0 0;
        border: 1px solid white;
        text-align: center;

        color: white;
        text-decoration: none;
        cursor: pointer;
        border-radius: 5em;
        transition: background-color 0.3s;

        &:hover {
            background-color: $c-brand-comp-dark;
        }
    }

    @include medium-screen {
        .TutorialNote-closeButton, .TutorialNote-manualLink {
            float: right;
            border-width: 0;
            font-size: 0.8em;
            font-weight: bold;
        }
        p {
            font-size: 0.8em;
        }
    }
}

@keyframes TutorialNote-appearAnimation {
    0%      { opacity: 0; }
    100%    { opacity: 0.7; }
}
