.Tutorial {
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    .Tutorial-background {
        opacity: 0.7;
        animation: Tutorial-background-appearAnimation 0.5s;
    }
}

@keyframes Tutorial-background-appearAnimation {
    0%      { opacity: 0; }
    100%    { opacity: 0.7; }
}
