* {
    box-sizing: border-box;
}

body {
    font-family: franklin-gothic-urw, sans-serif;
    color: $c-text;
    background-color: #FFF;
    font-size: 15px;
    margin: 0;

    @include large-screen {
        font-size: 18px;
    }
}

h1, h2, h3, h4 {
    font-family: 'azo-sans-web', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: darken($c-text, 5);
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

a {
    color: $c-brand-main;
}

p {
    line-height: 1.7em;
}