@mixin card {
    color: #333;
    background-color: #fefefe;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    border-radius: 2px;
}

@mixin button-color($color, $amount:5) {
    //TODO: switch darken/lighten based on lightness
    background-color: $color;
    // border-color: darken($color, 10);
    border-color: $color;

    @if (lightness($color) < 70%) {
        color: $c-text-contrast;
    }
    @else {
        color: inherit;
    }

    &:hover {
        @include button-active($color, $amount);
    }
    &:focus {
        border-color: darken($color, $amount * 1.5);
        background-color: darken($color, $amount * 1.5);
    }
    &.selected {
        border-color: darken($color, $amount * 1.5);
        background-color: darken($color, $amount * 1.5);
    }
    &.loading {
        background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,
            transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,
            rgba(255,255,255,.15) 75%,transparent 75%,transparent);
        background-color: $color;
        background-size: 40px 40px;
        animation: progress-stripes 2s linear infinite;
        cursor: wait;
    }
    &::disabled {
        @if (lightness($color) < 70%) {
            color: transparentize($c-text-contrast, 0.5);
        }
        @else {
            color: rgba(0, 0, 0, 0.5);
        }
    }
}

@mixin button-active($color, $amount) {
    background-color: darken($color, $amount);
    border-color: darken($color, $amount*2);
}

@mixin button($color: $c-brand-main, $amount:5, $icon:false, $border: 0) {
    display: inline-block;
    padding: 1em 2.5em;
    border-width: $border;
    border-radius: 3em;
    border-style: solid;
    text-decoration: none;
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1;
    cursor: pointer;

    &:focus {
        outline: none;
    }
    
    @include button-color($color, $amount);
    @if $icon {
        padding-left: 1.5em;
        &:before {
            @include icon($icon);
            line-height: 0;
            height: 0;
        }
    }
    &:disabled {
        color: rgba(255,255,255,.5);
    }
}


@mixin inline-button($color: $c-ui-bg, $amount:5, $icon:false) {
    width: auto;
    content: lightness($color); // for reference;
    padding: .5em 1em .4em;
    cursor: pointer;
    margin-bottom: inherit;
    border: 1px solid;
    border-radius: 0.2em;
    @include button-color($color, $amount);
    @if $icon {
        padding-left: .3em;
        &:before {
            @include icon($icon);
            line-height: 0;
            height: 0;
        }
    }
}

@mixin circle-button($color: lighten($c-ui-bg, 1), $amount:3, $icon:false, $size:2.5em) {
    width: $size;
    height: $size;
    padding: 0;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s;
    text-align: center;
    @include button-color($color, $amount);
    @if $icon {
        &:before {
            @include icon($icon);
            line-height: $size;
            height: $size;
            width: $size;
            margin-right:0;
        }
    }
    &:focus {
        outline: none;
    }
    &:active {
        box-shadow: 0 0px 1px rgba(0, 0, 0, 0.15);
    }
}

@mixin overlay-button($color: white, $border:1px ) {
    @include button($color: $color, $border: $border);
    margin: 0 0.5em 0 0;
    font-size: 0.8em;
    background-color: transparent;
    transition: background-color 0.2s;

    &:hover {
        color: $c-text;
        border-color: transparent;
    }
}

@mixin icon($fa-character) {
    @include fa-icon;
    text-align: center;
    height: 1.6em;
    width: 1.6em;
    line-height: 1.6;
    margin-right: .2em;
    content: $fa-character;
}

@mixin icon-button($icon, $collapse: true) {
    color: $c-text;
    text-decoration: none;
    border-radius: 3em;
    vertical-align: middle;
    padding-right: 1em;

    @if $collapse {
        max-width: 2.2em;
        margin-right: 1em;
        overflow: hidden;
        white-space: nowrap;

        //TODO: Improve transitions
        transition: max-width 0.5s ease-in-out;

        &:hover {
            max-width: 100%;
            transition: max-width 0.2s ease-in-out;
        }

        @include medium-screen {
            max-width: 100%;
            transition: max-width 0.2s ease-in-out;
        }
    }

    &:hover {
        background-color: $c-ui-bg;
    }

    &:before {
        @include icon($icon);
        background-color: $c-brand-main;
        color: white;
        border-radius: 50%;
        padding: 0.3em;
        margin-right: 0.5em;
        vertical-align: middle;
    }
}

@mixin list() {
    li {
        position: relative;
        padding: 1em 1em 1em 3em;
        border-bottom: 1px solid #eee;

        &:hover {
            background: darken(white,1);
        }

        &:before {
            position: absolute;
            left: 0.5em;
        }
    }
}


@mixin scrollbar($color:white, $flip: false) {

    &::-webkit-scrollbar {
        width: 10px;
    }

    @if $flip {
        &::-webkit-scrollbar-thumb {
            background-color: lighten($color,5);

            &:hover {
                background-color: lighten($color,8);
            }
        }
    }

    @else {
        &:hover {
            &::-webkit-scrollbar {
                background-color: darken(white,1.5);
            }
        }

        &::-webkit-scrollbar-thumb {
            background-color: darken($color,5);

            &:hover {
                background-color: darken($color,8);
            }
        }
    }
}

@mixin col ($col, $sum, $gap: 0.5em, $align: top, $first: false, $last: false) {
    width: percentage($col/$sum);
    vertical-align: $align;
    display: inline-block;
    padding-left: if($first, 0, $gap);
    padding-right: if($last, 0, $gap);

    &.fluid { width: percentage($col/$sum); }
}

@mixin col-offset($col, $sum) {
    margin-left: percentage($col/$sum);
}

@mixin small-screen {
    @media (min-width: #{$small-min-width}) {
        @content;
    }
}

@mixin medium-screen {
    @media (min-width: #{$medium-min-width}) {
        @content;
    }
}

@mixin large-screen {
    @media (min-width: #{$wide-min-width}) {
        @content;
    }
}

@keyframes progress-stripes {
    from {
      background-position: 40px 0;
    }
    to {
      background-position: 0 0;
    }
  }