@mixin card {
    color: #333;
    background-color: #fefefe;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    border-radius: 2px;
}

@mixin medium-screen {
    @media (min-width: #{$medium-min-width}) {
        @content;
    }
}

@mixin wide-screen {
    @media (min-width: #{$wide-min-width}) {
        @content;
    }
}
