@mixin card {
    color: #333;
    background-color: #fefefe;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    border-radius: 2px;
}

@mixin button-color($color, $amount:5) {
    //TODO: switch darken/lighten based on lightness
    background-color: $color;
    border-color: darken($color, 10);

    @if (lightness($color) < 70%) {
        color: $c-text-contrast;
    }
    @else {
        color: inherit;
    }

    &:hover {
        @include button-active($color, $amount);
    }
    &:focus {
        border-color: darken($color, $amount * 1.5);
        background-color: darken($color, $amount * 1.5);
    }
    &.selected {
        border-color: darken($color, $amount * 1.5);
        background-color: darken($color, $amount * 1.5);
    }
}

@mixin button-active($color, $amount) {
    background-color: darken($color, $amount);
    border-color: darken($color, $amount*2);
}

@mixin button($color: $c-brand-main, $amount:5, $icon:false) {
    display: inline-block;
    padding: 0 2.5em;
    border-width: 0;
    border-radius: 3em;
    text-decoration: none;
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 3em;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    @include button-color($color, $amount);
    @if $icon {
        &:before {
            @include icon($icon);
            line-height: 0;
            height: 0;
        }
    }
}


@mixin inline-button($color: lighten($c-ui-bg, 1), $amount:5, $icon:false) {
    width: auto;
    content: lightness($color); // for reference;
    padding: .5em 1em .4em;
    cursor: pointer;
    margin-bottom: inherit;
    border: 1px solid;
    border-radius: 0.2em;
    @include button-color($color, $amount);
    @if $icon {
        padding-left: .3em;
        &:before {
            @include icon($icon);
            line-height: 0;
            height: 0;
        }
    }
}

@mixin icon($fa-character) {
    @include fa-icon;
    text-align: center;
    height: 1.6em;
    width: 1.6em;
    line-height: 1.6;
    margin-right: .2em;
    content: $fa-character;
}


@mixin PaneWithTabs($class) {

    &.#{$class}-callStep, &.#{$class}-reportStep {
        overflow: visible!important;
        padding-top: 0!important;
        padding-right: 0!important;
        background: none;

        .PaneBase-header {
            position: absolute;
            width: 100%;
            height: 4em;
            top: 0;
            left: 0;

            button {
                position: absolute;
                width: 50%;
                height: 100%;
                border: none;
                background: white;
                font-family: inherit;
                font-size: 1em;

                &:focus {
                    outline: none;
                }
            }
        }

        .PaneBase-content {
            background: white;
            height: calc(100% - 4em);
            margin-top: 4em;
            overflow: scroll;
            padding-right: 3%;
            padding-top: 1em;
        }
    }
}

@mixin col ($col, $sum, $gap: 0.5em, $align: top, $first: false, $last: false) {
    width: percentage($col/$sum);
    vertical-align: $align;
    display: inline-block;
    padding-left: if($first, 0, $gap);
    padding-right: if($last, 0, $gap);

    &.fluid { width: percentage($col/$sum); }
}

@mixin col-offset($col, $sum) {
    margin-left: percentage($col/$sum);
}

@mixin medium-screen {
    @media (min-width: #{$medium-min-width}) {
        @content;
    }
}

@mixin wide-screen {
    @media (min-width: #{$wide-min-width}) {
        @content;
    }
}
