/* Colors */
$c-brand-main: #ee323e;
$c-brand-main-pink: #ed1c55;
$c-brand-main-orange: #ef4123;

$c-brand-comp-light: #48baeb;
$c-brand-comp-dark: #3598c5;

$c-brand-confirm: $c-brand-comp-light;

$c-ui-status-negative: #F64A50;    // red
$c-ui-status-neutral: #ffc502;     // yellow
$c-ui-status-positive: #41EF5A;    // green

$c-text: #303030;
$c-text-contrast: #FFF;

$c-ui-focus: #FFC400;

$c-ui-bg: rgb(248, 248, 248);
$c-ui-dark: darken($c-ui-bg, 30);
$c-ui-darker: darken($c-ui-bg, 50);

// Responsive breakpoints
$small-min-width: 600px;
$medium-min-width: 768px;
$wide-min-width: 1125px;

// Timing
$pane-transition-duration: 0.5s;
